:root.theme-dark {
  --title-color: #db00ff;
  --header-text: #db00ff;
  --section-name-color: #ff0070;
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --subtitle-color: #000028;
  --border-color: #ff0070;
  --border-bottom: #f1b2ce;
  --other-color: var(--violet, #FF007066);

  .decoration {
      display: block;
    }
  }

@media (prefers-color-scheme: dark) {
  :root {
    --header-text: #db00ff;
    --accent-color: #ff0070;
    --section-name-color: #ff0070;
    --article-name-color: var(--background-color);
    --text-color: #f1b2ce;
    --subtitle-color: #000028;
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --border-bottom: #f1b2ce;
    --border-color: #ff0070;
    --rec-color: var(--title-shadow);
    --other-color: var(--violet, #FF007066);

    .decoration {
      display: block;
    }
  }
}
